body {
  margin: 0;
}

#root {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: black;
}

.page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.container {
  width: 100%;
  padding-top: 100vh;
  padding-bottom: 100vh;
  background-image: url("dust.png");
}

.stop {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.els {
  display: flex;
 
}

.el {
  width: 15vmax;
  height: 15vmax;
  background-color: rgba(255, 255, 255, 0.5);
}

.el:not(:last-child) {
  margin-right: 5vmax;
}

.el_1, .el_2, .el_3{
  transform:rotate(   var(--element-transform)) ;
  transition: 0.5s;
}
